Control flow and loops
1.conditional statement

In [24]:
age=18
if age>=18:
  print("you are eligible to vote")

you are eligible to vote

if else

In [2]:
num=int(input("enter a number"))
if num%2==0:
  print("number is even")
else:
  print("number is odd")

enter a number7
number is odd

if-elief-else statement

In [3]:
marks=int(input("enter your marks"))
if marks>=90:
  print("grade A")
elif marks>=80:
  print("grade B")
elif marks>=70:
  print("grade C")
elif marks>=60:
    print("grade D")
else:
  print("grade F")

enter your marks88
grade B

FOR LOOOP

In [23]:
for i in range(5):
  print("interation",i)

interation 0
interation 1
interation 2
interation 3
interation 4

while statement

In [10]:
from typing import Counter
count=0
while count<5:
  print("count:", count)
  count+=1

count: 0
count: 1
count: 2
count: 3
count: 4

control flow loop

In [17]:
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [18]:
for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

pass

In [49]:
for i in range(10):
  if i==5:
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

number even or odd

In [25]:
num=int(input("enter a number"))
if num%2==0:
  print("number is even")
else:
  print("number is odd")

enter a number8
number is even

sum of number in range

In [32]:
s=int(input("enter the s in range"))
e=int(input("enter the e in range"))
sum=0
for i in range(s,e+1):
  sum+=i
print("the sum is:",sum)

enter the s in range5
enter the e in range9
the sum is: 35

programme for factorial

In [38]:
num=int(input('enter a number'))
fact=1
for i in range(1,num+1):
  fact*=i
  print("the fact is:",fact)

enter a number6
the fact is: 1
the fact is: 2
the fact is: 6
the fact is: 24
the fact is: 120
the fact is: 720

In [39]:
sum=int(input('enter a number'))
fact=1
for i in range(1,num+1):
  fact*=i
print("the fact is:",fact)

enter a number6
the fact is: 720

fibonacci sequence

In [40]:
n =int(input("enter the number of terms:"))
a,b=0,1
for i in range(n):
  print(a)
  a,b=b,a+b

enter the number of terms:8
0
1
1
2
3
5
8
13

In [47]:
n =int(input("enter the number of terms:"))
a,b=0, 1
for i in range(n):
  print(a, end=" ")
  a,b=b, a + b

enter the number of terms:6
0 1 1 2 3 5

simple calculation using if OPERATORS

In [51]:
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
operation=input("enter operation(+,-,*,/):")
if operation == "+":
  print("result:",num1+ num2)
elif operation =="-":
  print("result:",num1-num2)
elif operation =="*":
  print("result:",num1*num2)
elif operation =="/":
  print("result:",num1/num2)
elif operation =="%":
  print("result:",num1%num2)
elif operation =="//":
  print("result:",num1//num2)
else:
  print ("invalid operation")

enter first number:5
enter second number:6
enter operation(+,-,*,/):?
invalid operation

leep year

In [53]:
year=int(input("enter a year:"))
if(year%4==0and year%100!=0)or (year%400==0):
  print("leap year")
else:
  print("not a leap year")

enter a year:1996
leap year

find the largest of three number

In [54]:

num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
num3=float(input("enter third number:"))
if num1>=num2 and num1>=num3:
  print("largest number is:",num1)
elif num2>=num1 and num2>=num3:
  print("largest number is:",num2)
else:
  print("largest number is:",num3)

enter first number:6
enter second number:8
enter third number:3
largest number is: 8.0

check the num is+ve or-ve

In [55]:
a=int(input("enter a number"))
if a>0:
  print("number is positive")
elif a<0:
  print("number is negative")
else:
  print("number is zero")

enter a number8
number is positive

sum of all even numbers in range

In [56]:
s=int(input("enter the s in range"))
e=int(input("enter the e in range"))
even_sum=0
for num in range (s,e+1):
  if num%2==0:
    even_sum+=num
    print("sum of even numbers:",even_sum)

enter the s in range6
enter the e in range9
sum of even numbers: 6
sum of even numbers: 14